/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: inherit
}

/* Vars and Fonts */
:root{
    --dark-green: rgb(13, 48, 35);
    --yellow-brown: rgb(155, 129, 72);
    --light-green: rgb(107, 121, 95);
    --cream: rgb(254, 247, 229);
}

h1{
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
}
h2{
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
}
h3{
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
}
p{
    font-family: 'Raleway', sans-serif;
}

}
/* main page styles */
body{
    background: var(--cream);
}

.mainPageHeader{
    background: url(img/forrest.jpg) center/cover;
    width:100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.mainPageHeader >*{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
     }
}

.topNav{
    background: var(--dark-green);
    color: var(--cream);
    border-radius: 80px;
    padding: 1em 2em;
    margin: 2em 2em 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hamburger{
    display: none;
}

.mobileNav{
    display: none;
}
.topNav ul{
    display: flex;
    
}

.topNav li{
    padding: 0.5em;
    font-size: 2em;
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    transition: 0.3s;
}

.topNav li:hover{
    color: var(--yellow-brown);
}

#logo{
    display: inline-block;
    border-radius: 100%;
    background: var(--cream);
    height: 4em;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#logo h2{
    
    color: var(--dark-green);
    font-size: 3em;
    margin: auto, 0, auto, 0;
    transition: 1s;
}

#logo:hover h2{
    transform: rotateZ(360deg);
}

.headerTitle{
    text-align: center;
    font-size: 6em;
    color: var(--cream);
    padding-top: 30vh;
}

.arrowTop{
    background: var(--dark-green);
    opacity: 90;
    border-radius: 100%;
    height: 15em;
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 10em;
}

.arrowIcon{
    transform: rotate(180deg) scale(60%);
}

.arrowTop:hover .arrowIcon{
    animation: bounce 0.5s;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-direction: alternate;
    animation-iteration-count: 6;
}
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0) rotate(180deg) scale(60%);
    }
    to {
        transform: translate3d(0, 20px, 0) rotate(180deg) scale(60%);
    }
}

.sectionTitle{
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.sectionTitle h2{
    font-size: 4em;
    color: var(--dark-green);
    padding: 0.5em;
    white-space: nowrap;
}

.yellowLine-left{
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var(--yellow-brown);
}

.yellowLine-right{
    display: inline-block;
    width: 10%;
    height: 3px;
    background-color: var(--yellow-brown);
}


.cards{
    margin: 1em 15vw 5em 15vw;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    
}

.card{
    background: var(--dark-green);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}



.card h3{
    color: var(--cream);
    font-size: 2em;
    text-align: center;
    transition: 1s;
}

.card:hover h3{
    color:var(--yellow-brown);
}

.card:nth-child(1){
    grid-column: span 2;
    background-image: linear-gradient(rgba(13, 48, 35, 0.6), rgba(13, 48, 35, 0.8)), url("img/river.jpg");
    background-position: center center;
    background-size: cover;
    resize: none;
    background-repeat: no-repeat;
    height: 20em;
    
}

.card:nth-child(2){
    background-image: linear-gradient(rgba(13, 48, 35, 0.6), rgba(13, 48, 35, 0.8)), url("img/shed.jpg");
    background-position: center center;
    background-size: 100%;
    background-size: cover;
    resize: none;
    background-repeat: no-repeat;
    height: 30em;
}

.card:nth-child(3){
    background-image:linear-gradient(rgba(13, 48, 35, 0.6), rgba(13, 48, 35, 0.8)), url("img/hannahintub.jpg");
    background-position: center center;
    background-size: cover;
    resize: none;
    background-repeat: no-repeat;
    height: 30em;

}



/* footer styles */
footer{
    color: var(--yellow-brown);
    background: var(--dark-green);
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li{
    font-size: 3em;
    transition: 0.3s;
}

footer li:hover{
    color: var(--cream);
}

footer li img{
    transform: scale(10%) rotate(30deg) translatey(1em);
}

/* media queries */
@media (max-width: 1000px){
    .topNav ul{
        display: none;
    }
    .hamburger{
        display: block;
        transform: scale(200%);
        padding-right: 2em;
    }
    .hamburger:hover{
        cursor: pointer;
    }
    .arrowTop{
        height: 10em;
        width: 10em;
    }
    .arrowIcon{
        transform: rotate(180deg) scale(40%);
    }
    
    .arrowTop:hover .arrowIcon{
        animation: bounce 0.5s;
        animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
        animation-direction: alternate;
        animation-iteration-count: 6;
    }
    @keyframes bounce {
        from {
            transform: translate3d(0, 0, 0) rotate(180deg) scale(40%);
        }
        to {
            transform: translate3d(0, 20px, 0) rotate(180deg) scale(40%);
        }
    }
    .sectionTitle h2{
        font-size: 3em;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .card:nth-child(1){
        grid-column: span 1;
        height: 30em;
    }
    footer li{
        font-size: 2em;
    }
}
    
